body {
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: unset;


}

* {
  background-color: #f2f2f2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  margin: 10px;
  text-align: justify;
}
.info-player {
  width: 160px;
  margin: 10px;
  text-align: center;
  border: 1px solid #151534;
  border-radius: 5px;
}

.title {
  font-size: 18px;
  text-align: center;
  margin: 0px;
  font-weight: 600;
  margin-top: 12px;
}

.add-player {
  margin: 30px;
  text-align: center;
}

h3 {
  text-align: center;
}

.title-add-result {
  font-size: 12px;
}

.title-add-result {
  width: 150px;
  border-radius: 5px;
  border: none;
  color: white;
}

.title-add-players {
  font-size: 20px;
  letter-spacing: 4px;
}

.btn-increment-decrement {
  display: flex;
  margin: 5px 1px;
  justify-content: space-evenly;
  text-align: center;
}

.btn-increment-decrement button {
  width: 50px;
  border-radius: 5px;
  border: none;
  background-color: #151534;
  color: white;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

.input-score {
  width: 115px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #151534;
}

td, th {
  font-size: 13px;
}

.title-app {
  text-align: center;
  margin: 10px auto;
  background-color: #151534;
  width: auto;
  padding: 10px;
  color: rgb(215, 234, 0);
  font-size: 23px;
}

.card-head {
  font-weight: 900;
  background-color: #151534;
  height: 30px;
  color: white;
}

svg {
  color: rgb(215, 234, 0);;
}

span {
  color:#151534;
}

.add-player button{
  background-color: #151534;
  border: none;
  margin: 5px auto;
  border-radius: 5px;
  color: white;
  width: 300px;
  height: 50px;
  font-size: 20px;
}

.enter-name {
  border: 2px solid #151534;
  margin: 5px auto;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

.table-player {
  width: 360px;
  margin: 30px auto;
}

.ratioo {
  font-size: 12px;
  text-align: center;
  margin: 0;
  margin-bottom: 2px;
}

